.Compile-btn,
.Copy-btn {
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: 700;
}
.Copy-Container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.Copy-btn {
  font-size: 25px;
  width: 10vw;
  height: 4vh;
  background-color: #7e7da865;
}
.Compile-btn {
  font-size: 25px;
  margin-top: 2vw;
  width: 10vw;
  background-color: #585b7a;
  height: 4vh;
}
.Compile-btn:hover,
.Copy-btn:hover {
  color: rgb(223, 221, 185);
  cursor: pointer;
}
