.header-text {
  color: white;
}
.header-container {
  margin-bottom: 2vw;
  color: white;
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
  .header-text,
  .header-container {
    font-size: 10px;
  }
}
